<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ことば</title>
    <%- include("./common/stylesheets.ejs") %>
</head>

<body>
    <%- include('./common/navi.ejs', {select:"index"}) %>
    <main role="main" class="container">
        <% if (kotoba) { %>
        <div>
            <h1><pre style="white-space: pre-line"><%= kotoba.kotoba_value %></pre></h1>
        </div>
        <% } %>
    </main>
    <%- include("./common/javascripts.ejs") %>
    <script src="../public/javascripts/main.js" ></script>
</body>

</html>